@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>POKEMON STADIUM REVOLUTION</h1>
    <p class="lead">Gestionnaire de Pokémons, Attaques, Joueurs, Pokémons du joueur et les attaques du joueur</p>
    <h3>@Html.ActionLink("Pokémons", "Lister", "Pokemon")</h3>
    <h3>@Html.ActionLink("Attaques", "Lister", "Moves")</h3>
    <h3>@Html.ActionLink("Joueurs", "Lister", "Player")</h3>
</div>

